<table>
	<tr><td><input type="text"></td></tr>
	<tr><td><input type="text" name="firstName"></td><td><input type="text" name="familyName"></td></tr>
	<tr><td><input type="text" name="firstNameHurigana"></td><td><input type="familyNameHurigana"></td></tr>
	<tr><td><textarea name="comment" maxlenght="200"></textarea></td></tr>
</table>


