<% extend 'layout.ect' %>
<% block 'stylesheets' : %>
<link rel="stylesheet" href="/stylesheets/lib/nouislider.min.css">
<link rel="stylesheet" href="/stylesheets/lib/dropdowns-enhancement.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css">
<link rel="stylesheet" media="print" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.print.css">
<% end %>
<% block 'scripts': %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
<% end %>
<% block "navbarText" :%>
<% end %>
<% block 'headerMenus' :%>
<button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#navbarMenuItems">
	<span class="sr-only">Navigation Bar Toggle</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="label label-danger label-as-badge noticeBadge" style="position:absolute;bottom:0px;right:0px;"></span>
</button>
	<% end %>
	<% block 'headerMenuItems' :%>
	<div class='collapse navbar-collapse' id="navbarMenuItems" >
	<ul class="nav navbar-nav navbar-right" id="navbarList" >
		<li><a class="navbarMenu" href="/">戻る</a></li>
	</ul>
	</div>
	<% end %>
	<% block 'readyScript': %>
	<% end %>
	<% block 'contents' : %>
	
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top:140px;">
	
	  <!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="carousel-content">
					<div class="jumbotron text-center" style="height:499px;padding:30px;">
						<h1 style="font-size:4em;">Oooooops!</h1>
						<h3><%= @message %></h3>
						<h3><a type="button" class="btn btn-info btn-lg" href="/">戻る</a></h3>
					</div>
				</div>
			</div>
		</div>
	  </div>	
<% end %>