<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">	
	<title>Share Time</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/lib/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css">
<link rel="stylesheet" media="print" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.print.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script>
	var user;
	var calendar;
	$.ajaxPrefilter(function(options, orifinalOptions, jqXHR){
	  var token;
	  if(!options.crossDomain){
	    token = $("#thisTimeToken").val();
	    if(token){
	      return jqXHR.setRequestHeader("X-XSRF-Token", token);
	    }
	  }
	});	
	var deviceHeight = $(window).height() - $("#navbarHeader").height();
	var deviceWidth = $(window).width();

	$.ajax({
		type:"GET",
		url:"/modeDBactionsloggedInIndex/getmainpageitems",
		dataType: 'json',
		success:function(json){
			calendar = json['calendar'];
			user = json['user_info'];
			user["group"] = json["group"];
			var script = document.createElement("script");
			script.src = "/javascripts/lib/initializer.js";
			document.body.appendChild(script);
		}
	});
</script>
</head>		
<body>
	<header>
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div id="navbar-menuTop" class="container-fluid">
				<div class="navbar-header" id="navbarHeader">
					<div class="navbar-brand pull-left navbar-left">
					</div>

					<p class="nav navbar-text pull-left navbar-left h3 visible-xs" id="nowMonthIs" style="margin-bottom:0;margin-top:0.4em;">
</p>
<button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#navbarMenuItems">
	<span class="sr-only">Navigation Bar Toggle</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="label label-danger label-as-badge noticeBadge" style="position:absolute;bottom:0px;right:0px;"></span>
</button>
				</div>
				<div class='collapse navbar-collapse' id="navbarMenuItems" >
	<ul class="nav navbar-nav navbar-right" id="navbarList" >
		<li class="visible-xs"><a id="mobileNavbarMenuNotice" href="#">通知 <span class="label label-danger label-as-badge noticeBadge"></span></a></li>
		<li class="visible-xs"><a id="navbarMenuFriendList" class="navbarMenu" data-relative="#mobileMemberComponents" href="#">友達一覧</a></li>
		<li class="visible-xs"><a id="navbarMenuGroupList" class="navbarMenu navigateGroupMenu" data-relative="" href="#">グループ一覧</a></li>
		<li><a id="navbarMenuEditProfile" class="navbarMenu" href="#">プロフィール</a></li>
		<li><a id="navbarMenuMyCalendar" class="navbarMenu" href="#">マイカレンダー</a></li>
		<li><a href="/logout" id="logout" style="border-right:0px solid #ffffff">ログアウト</a></li>
	</ul>
	<div class="nav navbar-nav col-xs-12" id="myNotices" style="display:none;">
		<div id="navbarNotice" class="tab-pane in active indicatorNoticeGroup col-xs-12">
			<div class="userAddNotice list-group">
			</div>
			<div class="inviteGroup list-group">
			</div>
			<div class="noticeEditEvent list-group">
			</div>
			<div class="noticeGroupEvent list-group">
			</div>
			<div class="userNotice list-group">
			</div>
		</div>
	</div>
</div>
			</div>
		</nav>
	</header>
	<div class="container"  id="MainContents">
		<div class="alert alert-danger text-center" id="errorPanel">
			<strong id="errorTitle"></strong>
			<p id="errorMessage"></p>
		</div>
	<div class="col-md-4 col-lg-4 visible-md visible-lg" id="mainIndicator">
		<div id="indicator" style="height:100%;">
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#indicatorNotice" data-toggle="tab">NOTICE <span class="label label-primary label-as-badge noticeBadge"></span></a></li>
				<li><a href="#indicatorMemberList" data-toggle="tab">MEMBER</a></li>
				<li><a href="#grouplist" data-toggle="tab" class="navigateGroupMenu">GROUP</a></li>

			</ul>
			<div class="tab-content" style="height:100%;">
				<div id="indicatorNotice" class="tab-pane in active list-group indicatorNoticeGroup" style="overflow-x:hidden;height:100%;">
					<div class="userAddNotice">
					</div>
					<div class="inviteGroup">
					</div>
					<div class="noticeEditEvent">
					</div>
					<div class="noticeGroupEvent">
					</div>
					<div class="userNotice">
					</div>
				</div>
				<div id="indicatorMemberList" class="tab-pane indicatorMemberListGroup list-group">
					<div class="input-group form-search">
						<input type="text" class="form-control search-query" placeholder="@ユーザー名または名前" style="float:left;font-size:14px;border-top-left-radius: 4px;border-bottom-left-radius: 4px;">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary searchStart"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div>
					<div class="memberListClass" style="overflow-x:hidden;height:auto;max-height:100%;">
					</div>
					<div class="list-group searchResult indicatorSearch" style="height:100%;overflow-x:hidden;display:none;height:auto;max-height:100%;">
						<img src="/images/loading.gif" class="img-responsive center-block" id="searchLoading">
					</div>
					<button type="button" class="btn btn-default btn-block resultBackBtn indicatorSearch" style="display:none;"><span class="glyphicon glyphicon-menu-left" ></span>友人一覧</button>
				</div>
				<div id="grouplist" class="tab-pane indicatorGroupListGroup" style="height:100%;">
					<button type="button" class="btn btn-primary btn-block makeNewGroupBtn"><span class="glyphicon glyphicon-plus"></span> 新しいグループを作る</button>
					<div class="groupListClass list-group" style="height:auto;max-height:90%;overflow-x:hidden;">

					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="Contents" class="col-md-8 col-lg-8 col-sm-12 col-xs-12 text-center">
		<div class="alert alert-info text-center visible-xs" style="visibility:hidden;" id="prevMonth">
			<div><span id="prevMonthArrow" class="glyphicon glyphicon-menu-left"></span><h3 style="margin:0;" id="prevMonthIs"></h3></div>
		</div>
		<div class="alert alert-info text-center visible-xs" style="visibility:hidden;" id="nextMonth">
			<div><span id="nextMonthArrow" class="glyphicon glyphicon-menu-right"></span><h3 style="margin:0;" id="nextMonthIs"></h3></div>
		</div>

		<div id="calendar"></div>
		<div id="myProfile" class="container" style="display:none;height:100%;padding-top:50px;overflow-x:hidden;">
			<div class="row" style="padding-left:10px;padding-right:10px;">
				<div class="col-md-3 col-lg-3 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 thumbnails" style="padding:0;margin-left:0;">
					<div class="thumbnail">
						<img src="/images/people.png" class="img-rounded">
					</div>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left h5">
					<p>生年月日：<span class="profileBirthday" id="myProfileBirthday"></span></p>
					<p>ユーザー名：<span class="myProfileUserName"></span></p>
					<p>ニックネーム：<span class="showName" id="myProfileShowName"></span></p>
					<p>フルネーム：<span class="familyName" id="myProfileFamilyName"></span> <span class="firstName" id="myProfileFirstName"></span></p>
					<p>自己紹介：<div id="myComment"></div></p>
					<button type="button" class="btn btn-primary btn-lg" id="myProfileEdit">編集</button>
					<button type="button" class="btn btn-default btn-lg" id="myProfileCancel">閉じる</button>
				</div>
			</div>
		</div>
		<div id="editProfile" class="container" style="display:none;height:100%;padding-top:50px;background-color: #f3f6f8;overflow-x:hidden;">
			<div class="row" style="padding-left:10px;padding-right:10px;margin-right:auto;margin-left:auto;">
				<div class="col-md-3 col-lg-3 col-sm-8 col-xs-offset-2 col-sm-offset-2 col-xs-8 thumbnails" style="padding-left:0;margin-left:auto;">
					<div class="thumbnail">
						<img src="/images/people.png" class="img-rounded">
						<button type="button" class="btn btn-primary btn-block" id="imgUpload">準備中です</button>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-left h5" style="">
					<div class="row">
						<label class="pull-left" style="padding:0.5em;">生年月日：</label>
							<div class="col-lg-2 col-md-2 col-xs-12 col-sm-12" style="margin:0;padding:0;">
								<button class="btn btn-block btn-default dropdown-toggle btn-lg" id="yearSelect" data-toggle="dropdown" style="margin:auto 0;">--<span class="caret"></span></button>
								<ul class="profileItems dropdown-menu" id="yearSelect" style="width:100%;">
									<li><input type='radio' class='profileYears' value='1950' name='profileYears' id='profileYear1950'><label for='profileYear1950'>1950</label></li>
									<li><input type='radio' class='profileYears' value='1951' name='profileYears' id='profileYear1951'><label for='profileYear1951'>1951</label></li>
									<li><input type='radio' class='profileYears' value='1952' name='profileYears' id='profileYear1952'><label for='profileYear1952'>1952</label></li>
									<li><input type='radio' class='profileYears' value='1953' name='profileYears' id='profileYear1953'><label for='profileYear1953'>1953</label></li>
									<li><input type='radio' class='profileYears' value='1954' name='profileYears' id='profileYear1954'><label for='profileYear1954'>1954</label></li>
									<li><input type='radio' class='profileYears' value='1955' name='profileYears' id='profileYear1955'><label for='profileYear1955'>1955</label></li>
									<li><input type='radio' class='profileYears' value='1956' name='profileYears' id='profileYear1956'><label for='profileYear1956'>1956</label></li>
									<li><input type='radio' class='profileYears' value='1957' name='profileYears' id='profileYear1957'><label for='profileYear1957'>1957</label></li>
									<li><input type='radio' class='profileYears' value='1958' name='profileYears' id='profileYear1958'><label for='profileYear1958'>1958</label></li>
									<li><input type='radio' class='profileYears' value='1959' name='profileYears' id='profileYear1959'><label for='profileYear1959'>1959</label></li>
									<li><input type='radio' class='profileYears' value='1960' name='profileYears' id='profileYear1960'><label for='profileYear1960'>1960</label></li>
									<li><input type='radio' class='profileYears' value='1961' name='profileYears' id='profileYear1961'><label for='profileYear1961'>1961</label></li>
									<li><input type='radio' class='profileYears' value='1962' name='profileYears' id='profileYear1962'><label for='profileYear1962'>1962</label></li>
									<li><input type='radio' class='profileYears' value='1963' name='profileYears' id='profileYear1963'><label for='profileYear1963'>1963</label></li>
									<li><input type='radio' class='profileYears' value='1964' name='profileYears' id='profileYear1964'><label for='profileYear1964'>1964</label></li>
									<li><input type='radio' class='profileYears' value='1965' name='profileYears' id='profileYear1965'><label for='profileYear1965'>1965</label></li>
									<li><input type='radio' class='profileYears' value='1966' name='profileYears' id='profileYear1966'><label for='profileYear1966'>1966</label></li>
									<li><input type='radio' class='profileYears' value='1967' name='profileYears' id='profileYear1967'><label for='profileYear1967'>1967</label></li>
									<li><input type='radio' class='profileYears' value='1968' name='profileYears' id='profileYear1968'><label for='profileYear1968'>1968</label></li>
									<li><input type='radio' class='profileYears' value='1969' name='profileYears' id='profileYear1969'><label for='profileYear1969'>1969</label></li>
									<li><input type='radio' class='profileYears' value='1970' name='profileYears' id='profileYear1970'><label for='profileYear1970'>1970</label></li>
									<li><input type='radio' class='profileYears' value='1971' name='profileYears' id='profileYear1971'><label for='profileYear1971'>1971</label></li>
									<li><input type='radio' class='profileYears' value='1972' name='profileYears' id='profileYear1972'><label for='profileYear1972'>1972</label></li>
									<li><input type='radio' class='profileYears' value='1973' name='profileYears' id='profileYear1973'><label for='profileYear1973'>1973</label></li>
									<li><input type='radio' class='profileYears' value='1974' name='profileYears' id='profileYear1974'><label for='profileYear1974'>1974</label></li>
									<li><input type='radio' class='profileYears' value='1975' name='profileYears' id='profileYear1975'><label for='profileYear1975'>1975</label></li>
									<li><input type='radio' class='profileYears' value='1976' name='profileYears' id='profileYear1976'><label for='profileYear1976'>1976</label></li>
									<li><input type='radio' class='profileYears' value='1977' name='profileYears' id='profileYear1977'><label for='profileYear1977'>1977</label></li>
									<li><input type='radio' class='profileYears' value='1978' name='profileYears' id='profileYear1978'><label for='profileYear1978'>1978</label></li>
									<li><input type='radio' class='profileYears' value='1979' name='profileYears' id='profileYear1979'><label for='profileYear1979'>1979</label></li>
									<li><input type='radio' class='profileYears' value='1980' name='profileYears' id='profileYear1980'><label for='profileYear1980'>1980</label></li>
									<li><input type='radio' class='profileYears' value='1981' name='profileYears' id='profileYear1981'><label for='profileYear1981'>1981</label></li>
									<li><input type='radio' class='profileYears' value='1982' name='profileYears' id='profileYear1982'><label for='profileYear1982'>1982</label></li>
									<li><input type='radio' class='profileYears' value='1983' name='profileYears' id='profileYear1983'><label for='profileYear1983'>1983</label></li>
									<li><input type='radio' class='profileYears' value='1984' name='profileYears' id='profileYear1984'><label for='profileYear1984'>1984</label></li>
									<li><input type='radio' class='profileYears' value='1985' name='profileYears' id='profileYear1985'><label for='profileYear1985'>1985</label></li>
									<li><input type='radio' class='profileYears' value='1986' name='profileYears' id='profileYear1986'><label for='profileYear1986'>1986</label></li>
									<li><input type='radio' class='profileYears' value='1987' name='profileYears' id='profileYear1987'><label for='profileYear1987'>1987</label></li>
									<li><input type='radio' class='profileYears' value='1988' name='profileYears' id='profileYear1988'><label for='profileYear1988'>1988</label></li>
									<li><input type='radio' class='profileYears' value='1989' name='profileYears' id='profileYear1989'><label for='profileYear1989'>1989</label></li>
									<li><input type='radio' class='profileYears' value='1990' name='profileYears' id='profileYear1990'><label for='profileYear1990'>1990</label></li>
									<li><input type='radio' class='profileYears' value='1991' name='profileYears' id='profileYear1991'><label for='profileYear1991'>1991</label></li>
									<li><input type='radio' class='profileYears' value='1992' name='profileYears' id='profileYear1992'><label for='profileYear1992'>1992</label></li>
									<li><input type='radio' class='profileYears' value='1993' name='profileYears' id='profileYear1993'><label for='profileYear1993'>1993</label></li>
									<li><input type='radio' class='profileYears' value='1994' name='profileYears' id='profileYear1994'><label for='profileYear1994'>1994</label></li>
									<li><input type='radio' class='profileYears' value='1995' name='profileYears' id='profileYear1995'><label for='profileYear1995'>1995</label></li>
									<li><input type='radio' class='profileYears' value='1996' name='profileYears' id='profileYear1996'><label for='profileYear1996'>1996</label></li>
									<li><input type='radio' class='profileYears' value='1997' name='profileYears' id='profileYear1997'><label for='profileYear1997'>1997</label></li>
									<li><input type='radio' class='profileYears' value='1998' name='profileYears' id='profileYear1998'><label for='profileYear1998'>1998</label></li>
									<li><input type='radio' class='profileYears' value='1999' name='profileYears' id='profileYear1999'><label for='profileYear1999'>1999</label></li>
									<li><input type='radio' class='profileYears' value='2000' name='profileYears' id='profileYear2000'><label for='profileYear2000'>2000</label></li>
									<li><input type='radio' class='profileYears' value='2001' name='profileYears' id='profileYear2001'><label for='profileYear2001'>2001</label></li>
									<li><input type='radio' class='profileYears' value='2002' name='profileYears' id='profileYear2002'><label for='profileYear2002'>2002</label></li>
									<li><input type='radio' class='profileYears' value='2003' name='profileYears' id='profileYear2003'><label for='profileYear2003'>2003</label></li>
									<li><input type='radio' class='profileYears' value='2004' name='profileYears' id='profileYear2004'><label for='profileYear2004'>2004</label></li>
									<li><input type='radio' class='profileYears' value='2005' name='profileYears' id='profileYear2005'><label for='profileYear2005'>2005</label></li>
									<li><input type='radio' class='profileYears' value='2006' name='profileYears' id='profileYear2006'><label for='profileYear2006'>2006</label></li>
									<li><input type='radio' class='profileYears' value='2007' name='profileYears' id='profileYear2007'><label for='profileYear2007'>2007</label></li>
									<li><input type='radio' class='profileYears' value='2008' name='profileYears' id='profileYear2008'><label for='profileYear2008'>2008</label></li>
									<li><input type='radio' class='profileYears' value='2009' name='profileYears' id='profileYear2009'><label for='profileYear2009'>2009</label></li>
									<li><input type='radio' class='profileYears' value='2010' name='profileYears' id='profileYear2010'><label for='profileYear2010'>2010</label></li>
									<li><input type='radio' class='profileYears' value='2011' name='profileYears' id='profileYear2011'><label for='profileYear2011'>2011</label></li>
									<li><input type='radio' class='profileYears' value='2012' name='profileYears' id='profileYear2012'><label for='profileYear2012'>2012</label></li>
									<li><input type='radio' class='profileYears' value='2013' name='profileYears' id='profileYear2013'><label for='profileYear2013'>2013</label></li>
									<li><input type='radio' class='profileYears' value='2014' name='profileYears' id='profileYear2014'><label for='profileYear2014'>2014</label></li>
								</ul>
							</div>
						<div class="col-lg-1 col-md-1 col-xs-6 col-sm-6" style="margin:0 0;padding:0 0;" id="monthSelecter">
							<button class="btn btn-block btn-default dropdown-toggle btn-lg" data-toggle="dropdown" id="monthSelect" style="margin:0;"><span class="caret"></span></button>
							<ul name="month" class="profileItems dropdown-menu" >
								<li><input type='radio' class='profileMonths' value='01' name='profileMonths' id='profileMonth1'><label for='profileMonth1'>1</label></li>
								<li><input type='radio' class='profileMonths' value='02' name='profileMonths' id='profileMonth2'><label for='profileMonth2'>2</label></li>
								<li><input type='radio' class='profileMonths' value='03' name='profileMonths' id='profileMonth3'><label for='profileMonth3'>3</label></li>
								<li><input type='radio' class='profileMonths' value='04' name='profileMonths' id='profileMonth4'><label for='profileMonth4'>4</label></li>
								<li><input type='radio' class='profileMonths' value='05' name='profileMonths' id='profileMonth5'><label for='profileMonth5'>5</label></li>
								<li><input type='radio' class='profileMonths' value='06' name='profileMonths' id='profileMonth6'><label for='profileMonth6'>6</label></li>
								<li><input type='radio' class='profileMonths' value='07' name='profileMonths' id='profileMonth7'><label for='profileMonth7'>7</label></li>
								<li><input type='radio' class='profileMonths' value='08' name='profileMonths' id='profileMonth8'><label for='profileMonth8'>8</label></li>
								<li><input type='radio' class='profileMonths' value='09' name='profileMonths' id='profileMonth9'><label for='profileMonth9'>9</label></li>
								<li><input type='radio' class='profileMonths' value='10' name='profileMonths' id='profileMonth10'><label for='profileMonth10'>10</label></li>
								<li><input type='radio' class='profileMonths' value='11' name='profileMonths' id='profileMonth11'><label for='profileMonth11'>11</label></li>
								<li><input type='radio' class='profileMonths' value='12' name='profileMonths' id='profileMonth12'><label for='profileMonth12'>12</label></li>
							</ul>
						</div>
						<div class="col-lg-1 col-md-1 col-xs-6 col-sm-6" style="margin:0;padding:0;" id="daySelecter">
							<button class="btn btn-block btn-default btn-lg dropdown-toggle btn-lg" data-toggle="dropdown" id="daySelect" style="margin:0;"><span class="caret"></span></button>
							<ul name="day" class="profileItems dropdown-menu">
								<li><input type='radio' class='profileDays' value='01' name='profileDays' id='profileDay1'><label for='profileDay1'>1</label></li>
								<li><input type='radio' class='profileDays' value='02' name='profileDays' id='profileDay2'><label for='profileDay2'>2</label></li>
								<li><input type='radio' class='profileDays' value='03' name='profileDays' id='profileDay3'><label for='profileDay3'>3</label></li>
								<li><input type='radio' class='profileDays' value='04' name='profileDays' id='profileDay4'><label for='profileDay4'>4</label></li>
								<li><input type='radio' class='profileDays' value='05' name='profileDays' id='profileDay5'><label for='profileDay5'>5</label></li>
								<li><input type='radio' class='profileDays' value='06' name='profileDays' id='profileDay6'><label for='profileDay6'>6</label></li>
								<li><input type='radio' class='profileDays' value='07' name='profileDays' id='profileDay7'><label for='profileDay7'>7</label></li>
								<li><input type='radio' class='profileDays' value='08' name='profileDays' id='profileDay8'><label for='profileDay8'>8</label></li>
								<li><input type='radio' class='profileDays' value='09' name='profileDays' id='profileDay9'><label for='profileDay9'>9</label></li>
								<li><input type='radio' class='profileDays' value='10' name='profileDays' id='profileDay10'><label for='profileDay10'>10</label></li>
								<li><input type='radio' class='profileDays' value='11' name='profileDays' id='profileDay11'><label for='profileDay11'>11</label></li>
								<li><input type='radio' class='profileDays' value='12' name='profileDays' id='profileDay12'><label for='profileDay12'>12</label></li>
								<li><input type='radio' class='profileDays' value='13' name='profileDays' id='profileDay13'><label for='profileDay13'>13</label></li>
								<li><input type='radio' class='profileDays' value='14' name='profileDays' id='profileDay14'><label for='profileDay14'>14</label></li>
								<li><input type='radio' class='profileDays' value='15' name='profileDays' id='profileDay15'><label for='profileDay15'>15</label></li>
								<li><input type='radio' class='profileDays' value='16' name='profileDays' id='profileDay16'><label for='profileDay16'>16</label></li>
								<li><input type='radio' class='profileDays' value='17' name='profileDays' id='profileDay17'><label for='profileDay17'>17</label></li>
								<li><input type='radio' class='profileDays' value='18' name='profileDays' id='profileDay18'><label for='profileDay18'>18</label></li>
								<li><input type='radio' class='profileDays' value='19' name='profileDays' id='profileDay19'><label for='profileDay19'>19</label></li>
								<li><input type='radio' class='profileDays' value='20' name='profileDays' id='profileDay20'><label for='profileDay20'>20</label></li>
								<li><input type='radio' class='profileDays' value='21' name='profileDays' id='profileDay21'><label for='profileDay21'>21</label></li>
								<li><input type='radio' class='profileDays' value='22' name='profileDays' id='profileDay22'><label for='profileDay22'>22</label></li>
								<li><input type='radio' class='profileDays' value='23' name='profileDays' id='profileDay23'><label for='profileDay23'>23</label></li>
								<li><input type='radio' class='profileDays' value='24' name='profileDays' id='profileDay24'><label for='profileDay24'>24</label></li>
								<li><input type='radio' class='profileDays' value='25' name='profileDays' id='profileDay25'><label for='profileDay25'>25</label></li>
								<li><input type='radio' class='profileDays' value='26' name='profileDays' id='profileDay26'><label for='profileDay26'>26</label></li>
								<li><input type='radio' class='profileDays' value='27' name='profileDays' id='profileDay27'><label for='profileDay27'>27</label></li>
								<li><input type='radio' class='profileDays' value='28' name='profileDays' id='profileDay28'><label for='profileDay28'>28</label></li>
								<li><input type='radio' class='profileDays' value='29' name='profileDays' id='profileDay29'><label for='profileDay29'>29</label></li>
								<li><input type='radio' class='profileDays' value='30' name='profileDays' id='profileDay30'><label for='profileDay30'>30</label></li>
								<li><input type='radio' class='profileDays' value='31' name='profileDays' id='profileDay31'><label for='profileDay31'>31</label></li>
							</ul>
						</div>
					</div>
					<div class="row" style="margin-top:10px;margin-bottom:10px;">
						<label class="pull-left" style="padding-left:0.5em;">ユーザー名：</label><span class="myProfileUserName"></span>
					</div>
					<div class="row">
						<label class="pull-left" style="padding:0.5em;">ニックネーム：</label><div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><input placeholder="ニックネーム" class="editProfiles form-control showName" id="showName" type="text"></div>
					</div>
					<div class="row">
						<label class="pull-left col-xs-12 col-sm-12" style="padding:0.5em;">名前：</label><div class="col-lg-5 col-md-5 col-xs-6 col-sm-6" style="margin:0;padding:0;">
							<input class="editProfiles form-control familyName" placeholder="姓：" id="familyName" type="text" name="familyName">
						</div>
						<div class="col-lg-5 col-md-5 col-xs-6 col-sm-6" style="padding:0;margin:0;">
							<input placeholder="名前：" type="text" class="editProfiles form-control firstName" id="firstName" name="firstName">
						</div>
						<div class="col-lg-5 col-md-5 col-xs-6 col-sm-6" style="padding:0;margin:0;">
							<input placeholder="ふりがな・姓：" id="firstName_hurigana" class="editProfiles form-control firstName_hurigana" type="text" name="firstName_hurigana">
						</div>
						<div class="col-lg-5 col-md-5 col-xs-6 col-sm-6" style="padding:0;margin:0;">
							<input placeholder="ふりがな・名前：" class="editProfiles form-control familyName_hurigana" id="familyName_hurigana" type="text" name="familyName_hurigana">
						</div>
					</div>
					<div class="row">
						<label class="pull-left" style="padding:0.5em;">自己紹介：</label>
						<div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
							<textarea placeholder="自己紹介：" name="comment" id="profileComment" class="form-control profileComment" rows="4"></textarea>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-custom btn-lg" id="editConfirm">編集</button></td><td><button type="button" class="btn btn-default btn-lg" id="editCancel">キャンセル</button>
		</div>
	</div>

	<div id="mobileIndicator" class="visible-sm">
		<div id="mobileIndicatorArea" style="height:100%;" class="col-sm-12 col-xs-12">
			<table style="height:100%;border: 1px solid #000000;display:none;" id="mobileNoticeArea" class="noticeAreaGroup">
				<tbody id="userAddNoticeMobile" class="noticeGroupUserAddNotice">
				</tbody>
				<tbody id="inviteGroupMobile" class="noticeGroupInviteGroup">
				</tbody>
				<tbody id="noticeEditEventMobile" class="noticeGroupEditEvent">
				</tbody>
				<tbody id="noticeEventMobile" class="noticeGroupEvent">
				</tbody>
				<tbody id="userNoticeMobile" class="noticeGroupNotice">
				</tbody>
			</table>

			<div id="mobileDayDetail" style="padding:0;margin:0;" class="col-sm-12 col-xs-12 mobileIndicatorItems">
				<div class="col-xs-12">
					<button type="button" id="MakeShareTime" class="btn btn-primary btn-block">
						時間をシェアする
					</button>
				</div>
				<div id="mobileIndicatorDay" class="text-center h3" style="margin-bottom:0px;"></div>
				<div id="mobileDayDetailArea" class="col-sm-12 col-xs-12">
					<div class="panel-group panel-group-lists" id="mobileDayDetailCollapse" role="tablist" aria-multisectable="true" style="padding:0;margin-bottom:10px;">
						<div class="panel panel-primary" style="padding:0;margin:15px 0;">
							<div class="panel-heading" role="tab" id="mobilePromiseHeading">
								<h4 class="panel-title"><a role="button" style="color:white;" data-toggle="collapse" data-parent="mobileDayDetailCollapse" href="#mobilePromiseCollapse" aria-expanded="false" aria-controls="mobilePromiseCollapse">
									Promise <span class="badge" id="myPromiseCount"></span>
								</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" id="mobilePromiseCollapse"  role="tabpanel" aria-labelledby="mobilePromiseHeading">
								<div class="panel-body list-group" style="padding:0;">
									<div id="myPromiseMobile" class="promised" style="padding:0;"></div>
								</div>
							</div>
						</div>
						<div class="panel panel-primary" style="padding:0;margin-bottom:15px;">
							<div class="panel-heading" role="tab" id="mobileMySharesHeading">
								<h4 class="panel-title"><a role="button" style="color:white;" data-toggle="collapse" data-parent="mobileDayDetailCollapse" href="#mobileMySharesCollapse" aria-expanded="false" aria-controls="mobileMySharesCollapse">
									My Share <span class="badge" id="mySharesCount"></span><span id="offerCount"></span>
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="mobileMySharesCollapse"  role="tabpanel" aria-labelledby="mobileMySharesHeading">
								<div class="panel-body list-group" style="padding:0;">
									<div id="mySharesMobile" class="myShares" style="padding:0;"></div>
								</div>
							</div>
						</div>
						<div class="panel panel-warning" style="padding:0;margin-bottom:15px;">
							<div class="panel-heading" role="tab" id="mobileFriendsSharesHeading">
								<h4 class="panel-title"><a role="button" data-toggle="collapse" style="color:white;" data-parent="mobileDayDetailCollapse" href="#mobileFriendsSharesCollapse" aria-expanded="false"  aria-controls="mobileFriendsSharesCollapse">
									Friends <span class="badge" id="friendsSharesCount"></span>
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="mobileFriendsSharesCollapse" role="tabpanel" aria-labelledby="mobileFriendsSharesHeading">
								<div class="panel-body list-group" style="padding:0;">
									<div id="friendsSharesMobile" class="friendsShares" style="padding:0;"></div>
								</div>
							</div>
						</div>
						<div class="panel panel-success" style="padding:0;">
							<div class="panel-heading col-xs-12 col-sm-12" role="tab" id="mobileGroupEventsHeading">
								<h4 class="panel-title"><a role="button" style="color:white;" data-toggle="collapse" data-parent="mobileDayDetailCollapse" href="#mobileGroupEventsCollapse" aria-expanded="false"  aria-controls="mobileGroupEventsCollapse">
									Group Event <span class="badge" id="groupEventsCount"></span>
								</a></h4>
							</div>
							<div class="panel-collapse collapse" id="mobileGroupEventsCollapse" role="tabpanel" aria-labelledby="mobileGroupEventsHeading">
								<div class="panel-body list-group" style="padding:0;">
									<div id="groupEventsMobile" class="groupEvents" style="padding:0;"></div>
								</div>
							</div>
						</div>
					</div>
					<div><button type="button" class="btn btn-default btn-lg visible-xs backContents"><span class="glyphicon glyphicon-menu-left"></span>戻る</button></div>
				</div>
			</div>
			<div style="height:100%;padding:0;" id="mobileMemberComponents" class="col-xs-12 col-sm-12 hidden mobileIndicatorItems">
				<div class="text-center h4 col-xs-12 col-sm-12">友達</div>
				<div style="height:100%;" class="col-xs-12 col-sm-12" style="">
					<div class="input-group btn-group text-center">
						<input type="text" class="form-control search-query" placeholder="@ユーザー名または名前" style="float:left;font-size:14px;border-top-left-radius: 4px;border-bottom-left-radius: 4px;">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default searchStart"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div>
					<div id="mobileFriendsArea" class="list-group memberListClass">
					</div>
					<button type="button" class="btn btn-default btn-block indicatorSearch resultBackBtn" style="display:none;"><span class="glyphicon glyphicon-menu-left" ></span>友人一覧</button>
					<div id="mobileSearchFriendsArea" class="list-group searchResult indicatorSearch" style="height:auto;max-height:85%;overflow-x:hidden;">
					</div>
					<div><button type="button" class="btn btn-default btn-lg visible-xs backContents"><span class="glyphicon glyphicon-menu-left"></span>戻る</button></div>		
				</div>
			</div>
			<div style="max-height:100%;height:auto;overflow-x:hidden;padding:0;" id="mobileGroupComponents" class="col-xs-12 col-sm-12 hidden mobileIndicatorItems">
				<div class="text-center h4 col-xs-12 col-sm-12">グループ</div>
				<button type="button" class="btn btn-primary btn-block makeNewGroupBtn" id="mobileMakeNewGroup"><span class="glyphicon glyphicon-plus"></span>新しくグループを作成</button>
				<div style="height:100%;" class="groupListClass list-group" id="mobileGroupArea">
				</div>
				<div><button type="button" class="btn btn-default btn-lg visible-xs backContents"><span class="glyphicon glyphicon-menu-left"></span>戻る</button></div>					
			</div>
		</div>
	</div>
</div>
<div class="device-xs visible-xs"></div>
<div class="device-sm visible-sm"></div>
<div class="device-md visible-md"></div>
<div class="device-lg visible-lg"></div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
<input id="thisTimeToken" value="<%= @csrfToken %>" name="_csrf" type="hidden">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ノーマル -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1328303840682967"
     data-ad-slot="8710285934"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>
