<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">	
	<title>Share Time</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<% content 'stylesheets' %>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<% content 'scriptHeader' %>
</head>		
<body>
	<header>
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div id="navbar-menuTop" class="container-fluid">
				<div class="navbar-header" id="navbarHeader">
					<div class="navbar-brand pull-left navbar-left">
					</div>

					<% content 'headerMenus' %>
				</div>
				<% content 'headerMenuItems'%>
			</div>
		</nav>
	</header>
	<% content 'contents' %>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<% content 'scripts' %>
	<script>
	$(document).ready(function(){
		<% content 'readyScript' %>
		<%= @anyScript %>
	});
	</script>	
</body>
</html>