<% extend 'layout.ect' %>
<% block 'stylesheets' : %>
<link rel="stylesheet" type="text/css" href="/stylesheets/lib/login.css">
<% end %>
<% block 'scripts' : %>
<script src="/javascripts/lib/login.js"></script>
<% end %>
<% block 'readyScript' : %>
	ready();
<% end %>
<% block "headerMenus" : %>
<% end %>
<% block "headerMenuItems" : %>
<div class="visible-md visible-lg">
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a data-toggle="dropdown" id="navbarLogin">
				ログイン
			</a>
			<div class="dropdown-menu" style="padding:17px;width:400px;background-color:#ffffff;">
				<form action="/modeDBactionsloggedINpage/login" method="POST">
					<div class="form-group">
						<label class="control-label" for="log_in_key">ユーザー名またはメールアドレス：</label>
						<input type="text" name="loginKey" placeholder="UserName, example@sharetime.com" class="form-control" id="log_in_key">
					</div>
					<div class="form-group">
						<label class="control-label" for="log_in_password">パスワード：</label>
						<input type="password" name="password" class="form-control" placeholder="パスワード" id="log_in_pass">
					</div>
					<button type="submit" class="btn btn-primary" value="login">ログイン</button>   <a href="/password/send"><small>パスワードをお忘れの場合</small></a>
				</form>
			</div>
		</li>
	</ul>
</div>
<% end %>
<% block "contents" : %>
<div class="container-fluid" id="loginBox" style="height:100%;">
	<div class="alert alert-danger text-center" id="errorBox" style="display:none;">
		<p><strong id="errorMsg"></strong></p>
	</div>
	<div id="login_box" class="col-sm-12 col-xs-12 visible-xs visible-sm">
		<form action="/modeDBactionsloggedINpage/login" method="POST">
			<div class="form-group">
				<label class="control-label" for="log_in_email">ユーザー名、メールアドレス：</label>
				<input type="text" name="loginKey" placeholder="UserName, example@sharetime.com" class="form-control" id="log_in_email">
			</div>
			<div class="form-group">
				<label class="control-label" for="log_in_password">パスワード：</label>
				<input type="password" name="password" class="form-control" placeholder="パスワード" id="log_in_pass">
			</div>
			<button type="submit" class="btn btn-primary btn-block" value="login">ログイン</button>
			<div style="margin-top:15px;margin-bottom:0;"><a href="/password/send"><small>パスワードをお忘れの場合</small></a></div>
		</form>
		<hr class="visible-sm visible-xs" style="margin-top:0;">
	</div>
	<div class="col-lg-8 col-md-8 visible-lg visible-md">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:100%;">
	  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="carousel-content">
				<div class="jumbotron" style="height:499px;">
					<h2>Share Timeへようこそ！</h2>
					<p>Share Timeはあなたのすべての時間を特別なものにするための新しいSNSです！</p>
					<p>単なるスケージュール共有をするのではなく、</p>
					<p></p>
					<p>友達がシェアしている時間をシェアすることで</p>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="carousel-content">
				<div class="jumbotron" style="height:499px;">
					<h2>Share Timeでできること</h2>
					<p>あなたの時間を共有することで、友達からのオファーを受け付けます</p>
					<p>また、友達が共有した時間へオファーを送ることで効率的に友達と一緒に過ごすことができます</p>
					<p>グループを作成してグループのイベントを企画、メンバーにイベントへ通知して参加か不参加を自動的に集計します<br />グループのリーダーは一目で参加者を確認することができます</p>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="carousel-content">
				<div class="jumbotron" style="height:499px">
					<h2>まずは登録！</h2>
					<p>右のフォームから簡単に登録が可能です</p>
					<p>友達も誘ってすべての時間を記憶に残るものに変えましょう！</p>
				</div>
			</div>
		</div>
	</div>

	  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		  </a>
		  </div>

	</div>
	<div id="signup_box" class="col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-md visible-lg">
		<p class="text-center h3">新しく登録しましょう！</p>
		<form id="signUpItems">
			<div class="form-group has-feedback" id="signUpEmail">
				<label class="control-label signUpEmail" for="sign_up_email" id="signUpEmailDefault">メールアドレス：</label>
				<label class="control-label loading" for="sign_up_email" id="signUpEmailLoading" style="display:none;"><img style="height:1.5em;" class="loadingImage" src="/images/loading.gif"></label>
				<label class="stateInput control-label signUpEmailSuccess signUpEmail" for="sign_up_email" id="emailInCorrect">有効なメールアドレスです</label>
				<label class="stateInput control-label signUpEmailFail signUpEmail" for="sign_up_email" id="emailInFaile">不法なメールアドレスです</label>
				<input type="text" id="sign_up_email" name="email" placeholder="example@sharetime.com" class="form-control" aria-describedby="emailStatus">
				<span class="stateInput glyphicon glyphicon-ok form-control-feedback signUpEmailSuccess" aria-hidden="true"></span>
				<span class="stateInput glyphicon glyphicon-remove form-control-feedback signUpEmailFail" aria-hidden="true"></span>
				<span class="sr-only" id="emailStatus"></span>
			</div>
			<div class="collapse" id="usedEmail">
				<p>既に登録済みではありませんか？ <a id="loginDropdown">ログイン</a></p>
			</div>
			<div class="form-group has-feedback" id="signUpUserName">
				<label class="control-label signUpUserName" for="sign_up_userName" id="signUpUserNameDefault">ユーザー名：</label>
				<label class="stateInput control-label signUpUserNameSuccess signUpUserName" for="sign_up_userName" id="userNameInCorrect">有効なユーザー名です</label>
				<label class="stateInput control-label signUpUserNameFail signUpUserName" for="sign_up_userName" id="userNameInFaile">不法なユーザー名です</label>
				<label class="control-label loading" for="sign_up_userName" id="signUpUserNameLoading" style="display:none;"><img style="height:1.5em;" class="loadingImage" src="/images/loading.gif"></label>
				<input type="text" class="form-control signUpInput" id="sign_up_userName" name="user_name" placeholder="半角英数字５文字以上">
				<span class="stateInput glyphicon glyphicon-ok form-control-feedback signUpUserNameSuccess" aria-hidden="true"></span>
				<span class="stateInput glyphicon glyphicon-remove form-control-feedback signUpUserNameFail" aria-hidden="true"></span>
				<span class="sr-only" id="userNameStatusSr"></span>
			</div>
			<div class="form-group has-feedback" id="signUpPassword">
				<label class="control-label" id="signUpPasswordDefault">パスワード：</label>
				<label class="stateInput control-label signUpPassWordSuccess" for="sign_up_password" id="passwordInCorrect">パスワードを再入力してください</label>
				<label class="stateInput control-label signUpPassWordFail" for="sign_up_password" id="passwordInFail"></label>
				<input type="password" class="form-control signUpInput" id="sign_up_password" name="password" placeholder="半角英数字６文字以上">
				<span class="stateInput glyphicon glyphicon-ok form-control-feedback signUpPassWordSuccess" aria-hidden="true"></span>
				<span class="stateInput glyphicon glyphicon-remove form-control-feedback signUpPassWordFail" aria-hidden="true"></span>
				<span class="sr-only" id="passStatusSr"></span>
			</div>
			<div class="form-group collapse has-feedback" id="signUpPassWordRe">
				<input type="password" class="form-control" id="sign_up_passwordRe" name="password" placeholder="同じパスワードを入力してください">
				<span class="stateInput glyphicon glyphicon-ok form-control-feedback signUpPassWordReSuccess" aria-hidden="true"></span>
				<span class="stateInput glyphicon glyphicon-remove form-control-feedback signUpPassWordReFail" aria-hidden="true"></span>
				<span class="sr-only" id="passReStatusSr"></span>
			</div>
			<button type="button" class="btn btn-info btn-block  visible-xs visible-sm" id="signupBtnXsSm">登録</button>
			<button type="button" value="登録" id="signupBtnLgMd" class="btn btn-info visible-md visible-lg">登録</button>
		</form>
		<hr class="visible-sm visible-xs">
	</div>
	<div id="mobileTypeBtn" class="text-center visible-sm visible-xs">
		<div class="h3"><a href="#" data-toggle="modal" data-target="#descriptionModal">share timeとは</a></div>
		<button class="btn btn-warning btn-block" style="margin-top:25px;" id="signupMobileBtn">登録する</button>
	</div>
</div>
<div class="modal fade" id="descriptionModal" role="dialog">
	<div class="modal-dialog modal-lg" role="document" aria-labelledby="shareTimeDescription">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="shareTimeDescription">share timeとは</h4>
			</div>
			<div class="modal-body" style="padding:0;">
				<div class="container-fluid" style="margin:0;padding:0;">
					<div>
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:80%;">

						  <!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="carousel-content">
										<div class="jumbotron text-center" style="height:499px;">
											<h2>Share Timeへようこそ！</h2>
											<p>Share Timeはあなたのすべての時間を特別なものにするための新しいSNSです！</p>
											<p>空いている時間や、隙間の時間を友達とシェアしましょう</p>
											<p>友達がシェアしている時間をシェアすることで</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="carousel-content">
										<div class="jumbotron text-center" style="height:499px;">
											<h2>Share Timeでできること</h2>
											<p>あなたの時間の共有、友達からのオファーを受け付けます</p>
											<p>同様に、友達が共有した時間へオファーを送ることで効率的に友達と一緒に過ごすことができます</p>
											<p>グループを作成してグループのイベントを企画、メンバーにイベントへ通知して参加か不参加を自動的に集計します<br />グループのリーダーは一目で参加者を確認することができます</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="carousel-content">
										<div class="jumbotron text-center" style="height:499px">
											<h2>まずは登録！</h2>
											<p>登録フォームから簡単に登録が可能です</p>
											<p>この画面を閉じた後、画面下部のオレンジ色の登録ボタンから登録をしましょう!</p>
											<p>友達も誘ってすべての時間を記憶に残るものに変えましょう！</p>
										</div>
									</div>
								</div>
							</div>
					  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						  </a>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
<p>All Product By Shimomura's</p>
<p><a href="">Support</a>  <a href="">Contact</a>  <a href="">lisense</a>  <a>Privacy</></p>
</div>
<div class="device-xs visible-xs"></div>
<div class="device-sm visible-sm"></div>
<div class="device-md visible-md"></div>
<div class="device-lg visible-lg"></div>
<input type="hidden" name="_csrf" id="thisTimeToken" value="<%= @csrfToken %>">
<% end %>
