<% extend 'layout.ect' %>
<% block 'stylesheets' : %>
<link rel="stylesheet" href="/stylesheets/lib/utility.css">
<% end %>
<% block 'scripts' : %>
<script src="/javascripts/lib/password.js"></script>
<% end %>
<% block 'readyScript' : %>
	passwords();
<% end %>
<% block "contents" : %>
<div class="container-fluid" style="padding-top:70px;">
	<div id="sendBox">
		<div class="text-center">
			<p>メールアドレスを入力してください</p>
		</div>
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-12 col-sm-12 text-center">
			<div class="input-group col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding-top:auto;padding-bottom:auto;">
				<input type="text" class="form-control" placeholder="example@sharetime.com" id="email">
				<div class="col-lg-offset-4 col-lg-4 col-md-4 col-md-offset-4 col-xs-12 col-sm-12" style="margin-top:20px;margin-bottom:20px;">
					<button type="button" id="sendEmailBtn" class="btn btn-info btn-block">パスワード再設定</button>
				</div>
			</div>
			<div class="alert alert-warning">
				<p>パスワード再設定用のメールは<code>app39455268@heroku.com</code>から送信します。</p>
				<p>受信BOXにない場合は迷惑メールBOXを確認してください。</p>
			</div>
		</div>
	</div>
	<div style="display:none;" id="sendDone">
		<div class="alert alert-success col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-12 col-sm-12 text-center">
			<p><strong>送信完了！</strong></p>
			<p>5秒後にログインページに移動します。移動しない場合は<a href="/login">こちら</a>。</p>
			<p>パスワード再設定用のメールは<code>app39455268@heroku.com</code>から送信します。</p>
			<p>受信BOXにない場合は迷惑メールBOXを確認してください。</p>
		</div>
	</div>
</div>
<input type="hidden" id="thisTimeToken" name="_csrf" value="<%= @csrfToken %>">
<% end %>
