<% extend 'layout.ect' %>
<% block 'stylesheets' : %>
<link rel="stylesheet" href="/stylesheets/lib/passwordRe.css">
<% end %>
<% block 'scripts' : %>
<script src="/javascripts/lib/passwordRe.js"></script>
<% end %>
<% block 'readyScript' : %>
passwordRe();
<% end %>
<% block "contents" : %>
<div class="container-fluid" style="height:500px;padding-top:100px;" id="container">
	<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-12 col-sm-12 text-center">
		<form id="passwordRefleshForm" method="post" action="/modeDBactionsPassword/reflesh/<%= @userValue %>">
			<div class="form-group has-feedback" id="refleshPasswordInput">
				<label class="control-label" id="refleshPasswordDefault">パスワード：</label>
				<label class="stateInput control-label refleshPasswordSuccess" for="refleshPassword" id="passwordInCorrect">パスワードを再入力してください</label>
				<label class="stateInput control-label refleshPasswordFail" for="refleshPassword" id="passwordInFail">エラー</label>
				<input type="password" class="form-control signUpInput" id="refleshPassword" name="password" placeholder="半角英数字６文字以上">
				<span class="stateInput glyphicon glyphicon-ok form-control-feedback refleshPasswordSuccess" aria-hidden="true"></span>
				<span class="stateInput glyphicon glyphicon-remove form-control-feedback refleshPasswordFail" aria-hidden="true"></span>
				<span class="sr-only" id="passStatusSr"></span>
			</div>
			<div class="form-group collapse has-feedback" id="refleshPasswordReInput">
				<input type="password" class="form-control" id="refleshPasswordRe" name="passwordRe" placeholder="同じパスワードを入力してください">
				<span class="stateInput glyphicon glyphicon-ok form-control-feedback refleshPasswordReSuccess" aria-hidden="true"></span>
				<span class="stateInput glyphicon glyphicon-remove form-control-feedback refleshPasswordReFail" aria-hidden="true"></span>
				<span class="sr-only" id="passReStatusSr"></span>
			</div>
			<button type="submit" class="btn btn-info" id="passwordReflesh">再設定</buttom>
		</form>	
	</div>
</div>
<% end %>
