/*
 * bootflat 2.0.4
 *
 * Description: BOOTFLAT is an open source Flat UI KIT based on Bootstrap 3.2.0 CSS framework. It provides a faster, easier and less repetitive way for web developers to create elegant web apps.
 *
 * Homepage: http://bootflat.github.com/
 *
 * By @Flathemes <info@flathemes.com>
 *
 * Last modify time: 2014-09-03
 *
 * Licensed under the MIT license. Please see LICENSE for more information.
 *
 * Copyright 2013 FLATHEMES.
 *
 */

body{font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;color:#434a54;background-color:#fff}a{color:#3bafda;text-decoration:none}a:focus,a:hover{color:#4fc1e9;text-decoration:none}a:focus{outline:0}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:700;line-height:1.1;color:inherit}.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#e7e9ec}h1,h2,h3{margin-top:30px;margin-bottom:15px}h4,h5,h6{margin-top:15px;margin-bottom:15px}h6{font-weight:400}.h1,h1{font-size:51px}.h2,h2{font-size:43px}.h3,h3{font-size:30px}.h4,h4{font-size:19px}.h5,h5{font-size:18px}.h6,h6{font-size:14px}blockquote{border-left:3px solid #ccd1d9}.img-rounded{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}.img-comment{margin:24px 0;font-size:15px;font-style:italic;line-height:1.2}.btn{color:#fff}.btn,.btn.disabled,.btn[disabled]{background-color:#aab2bd;border-color:#aab2bd}.btn.active,.btn:active,.btn:focus,.btn:hover{color:#fff;background-color:#ccd1d9;border-color:#ccd1d9;outline:0!important}.btn.active,.btn:active{-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.125);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.125);box-shadow:inset 0 1px 2px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled]{filter:alpha(opacity=45);opacity:.45}.btn-link,.btn-link.active,.btn-link.disabled,.btn-link:active,.btn-link:focus,.btn-link:hover,.btn-link[disabled]{color:#3bafda;background-color:transparent;
 border-color:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.btn-link:focus,.btn-link:hover{text-decoration:underline}.btn-default{color:#434a54;border-color:#aab2bd!important}.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover{background-color:#ccd1d9;border-color:#ccd1d9}.btn-default,.btn-default.disabled,.btn-default[disabled]{background-color:#fff}.open .dropdown-toggle.btn-default{background-color:#ccd1d9;border-color:#ccd1d9}.btn-primary,.btn-primary.active,.btn-primary.disabled,.btn-primary:active,.btn-primary[disabled]{background-color:#3bafda;border-color:#3bafda}.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{background-color:#4fc1e9;border-color:#4fc1e9}.btn-info,.btn-info.active,.btn-info.disabled,.btn-info:active,.btn-info[disabled]{background-color:#37bc9b;border-color:#37bc9b}.btn-info:focus,.btn-info:hover,.open .dropdown-toggle.btn-info{background-color:#48cfad;border-color:#48cfad}.btn-success,.btn-success.active,.btn-success.disabled,.btn-success:active,.btn-success[disabled]{background-color:#8cc152;border-color:#8cc152}.btn-success:focus,.btn-success:hover,.open .dropdown-toggle.btn-success{background-color:#a0d468;border-color:#a0d468}.btn-warning,.btn-warning.active,.btn-warning.disabled,.btn-warning:active,.btn-warning[disabled]{background-color:#f6bb42;border-color:#f6bb42}.btn-warning:focus,.btn-warning:hover,.open .dropdown-toggle.btn-warning{background-color:#ffce54;border-color:#ffce54}.btn-danger,.btn-danger .open .dropdown-toggle.btn,.btn-danger.active,.btn-danger.disabled,.btn-danger:active,.btn-danger[disabled]{background-color:#da4453;border-color:#da4453}.btn-danger:focus,.btn-danger:hover,.open .dropdown-toggle.btn-danger{background-color:#ed5565;border-color:#ed5565}.btn-group.open .dropdown-toggle{-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.125);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.125);box-shadow:inset 0 1px 2px rgba(0,0,0,.125)}.btn-group .btn{border-left-color:#96a0ad}.btn-group .btn-default.active,.btn-group .btn-default:active,.btn-group .btn-default:focus,.btn-group.open .btn-default.dropdown-toggle{color:#fff}.btn-group .btn-primary,.btn-group .btn-primary.active,.btn-group .btn-primary:active,.btn-group .btn-primary:focus{border-left-color:#269ecb}.btn-group .btn-success,.btn-group .btn-success.active,.btn-group .btn-success:active,.btn-group .btn-success:focus{border-left-color:#7ab03f}.btn-group .btn-warning,.btn-group .btn-warning.active,.btn-group .btn-warning:active,.btn-group .btn-warning:focus{border-left-color:#efa50b}.btn-group .btn-danger,.btn-group .btn-danger.active,.btn-group .btn-danger:active,.btn-group .btn-danger:focus{border-left-color:#d1293a}.btn-group .btn-info,.btn-group .btn-info.active,.btn-group .btn-info:active,.btn-group .btn-info:focus{border-left-color:#2fa084}.btn-group .btn-danger:first-child,.btn-group .btn-info:first-child,.btn-group .btn-primary:first-child,.btn-group .btn-success:first-child,.btn-group .btn-warning:first-child,.btn-group .btn:first-child{border-left-color:transparent}.btn-group-vertical .btn,.btn-group-vertical .btn-group .btn-primary{border-top-color:#96a0ad!important}.btn-group-vertical .btn-group .btn-primary,.btn-group-vertical .btn-primary,.btn-group-vertical .btn-primary.active,.btn-group-vertical .btn-primary:active,.btn-group-vertical .btn-primary:focus{border-top-color:#269ecb!important}.btn-group-vertical .btn-group .btn-success,.btn-group-vertical .btn-success,.btn-group-vertical .btn-success.active,.btn-group-vertical .btn-success:active,.btn-group-vertical .btn-success:focus{border-top-color:#7ab03f!important}.btn-group-vertical .btn-group .btn-warning,.btn-group-vertical .btn-warning,.btn-group-vertical .btn-warning.active,.btn-group-vertical .btn-warning:active,.btn-group-vertical .btn-warning:focus{border-top-color:#efa50b!important}.btn-group-vertical .btn-danger,.btn-group-vertical .btn-danger.active,.btn-group-vertical .btn-danger:active,.btn-group-vertical .btn-danger:focus,.btn-group-vertical .btn-group .btn-danger{border-top-color:#d1293a!important}.btn-group-vertical .btn-group .btn-info,.btn-group-vertical .btn-info,.btn-group-vertical .btn-info.active,.btn-group-vertical .btn-info:active,.btn-group-vertical .btn-info:focus{border-top-color:#2fa084!important}.btn-group-vertical .btn-danger:first-child,.btn-group-vertical .btn-info:first-child,.btn-group-vertical .btn-primary:first-child,.btn-group-vertical .btn-success:first-child,.btn-group-vertical .btn-warning:first-child,.btn-group-vertical .btn:not(.btn-default):first-child{border-top:none}.badge,.label{background-color:#aab2bd}.badge-default,.label-default{color:#434a54;background-color:#fff;
 border:1px solid #aab2bd}.badge-primary,.label-primary{background-color:#3bafda;border-color:#3bafda}.badge-success,.label-success{background-color:#8cc152;border-color:#8cc152}.badge-danger,.label-danger{background-color:#da4453;border-color:#da4453}.badge-warning,.label-warning{background-color:#f6bb42;border-color:#f6bb42}.badge-info,.label-info{background-color:#37bc9b;border-color:#37bc9b}.tooltip-inner{color:#fff;background-color:#434a54}.tooltip.top .tooltip-arrow,.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow{border-top-color:#434a54}.tooltip.right .tooltip-arrow{border-right-color:#434a54}.tooltip.left .tooltip-arrow{border-left-color:#434a54}.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow{border-bottom-color:#434a54}.popover{color:#fff;
 background-color:#434a54;border-color:#434a54}.popover-title{padding-bottom:0;font-weight:700;color:#aab2bd;background-color:transparent;border-bottom:none}.popover.top .arrow,.popover.top .arrow:after{border-top-color:#434a54}.popover.right .arrow,.popover.right .arrow:after{border-right-color:#434a54}.popover.bottom .arrow,.popover.bottom .arrow:after{border-bottom-color:#434a54}.popover.left .arrow,.popover.left .arrow:after{border-left-color:#434a54}.progress{background-color:#e6e9ed;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.progress-bar{background-color:#3bafda;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.progress-bar-success{background-color:#8cc152}.progress-bar-info{background-color:#37bc9b}.progress-bar-warning{background-color:#f6bb42}.progress-bar-danger{background-color:#da4453}.breadcrumb{color:#434a54;background-color:#e6e9ed}.breadcrumb>.active{color:#434a54}.breadcrumb a{color:#3bafda}.breadcrumb-arrow{height:36px;
 padding:0;line-height:36px;list-style:none;background-color:#e6e9ed}.breadcrumb-arrow li:first-child a{border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px}.breadcrumb-arrow li,.breadcrumb-arrow li a,.breadcrumb-arrow li span{display:inline-block;vertical-align:top}.breadcrumb-arrow li:not(:first-child){margin-left:-5px}.breadcrumb-arrow li+li:before{padding:0;content:""}.breadcrumb-arrow li span{padding:0 10px}.breadcrumb-arrow li a,.breadcrumb-arrow li:not(:first-child) span{height:36px;
 padding:0 10px 0 25px;line-height:36px}.breadcrumb-arrow li:first-child a{padding:0 10px}.breadcrumb-arrow li a{position:relative;color:#fff;text-decoration:none;background-color:#3bafda;border:1px solid #3bafda}.breadcrumb-arrow li:first-child a{padding-left:10px}.breadcrumb-arrow li a:after,.breadcrumb-arrow li a:before{position:absolute;top:-1px;width:0;height:0;content:'';border-top:18px solid transparent;border-bottom:18px solid transparent}.breadcrumb-arrow li a:before{right:-10px;z-index:3;border-left-color:#3bafda;border-left-style:solid;border-left-width:11px}.breadcrumb-arrow li a:after{right:-11px;z-index:2;border-left:11px solid #2494be}.breadcrumb-arrow li a:focus,.breadcrumb-arrow li a:hover{background-color:#4fc1e9;border:1px solid #4fc1e9}.breadcrumb-arrow li a:focus:before,.breadcrumb-arrow li a:hover:before{border-left-color:#4fc1e9}.breadcrumb-arrow li a:active{background-color:#2494be;border:1px solid #2494be}.breadcrumb-arrow li a:active:after,.breadcrumb-arrow li a:active:before{border-left-color:#2494be}.breadcrumb-arrow li span{color:#434a54}.pagination>li>a,.pagination>li>span{color:#434a54;background-color:#fff;border-color:#ccd1d9}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{color:#fff;background-color:#ccd1d9;border-color:#ccd1d9}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{color:#fff;background-color:#8cc152;border-color:#8cc152}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#e6e9ed;background-color:#fff;border-color:#ccd1d9}.pager li>a,.pager li>span{color:#fff;background-color:#8cc152;border-color:#8cc152}.pager li>a:focus,.pager li>a:hover{background-color:#a0d468;border-color:#a0d468}.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span{color:#e6e9ed;background-color:#fff;border-color:#e6e9ed}.form-control{color:#434a54;border-color:#aab2bd}.form-control,.form-control:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.form-control:focus{border-color:#3bafda}.form-control:-ms-input-placeholder,.form-control::-moz-placeholder,.form-control::-webkit-input-placeholder{color:#e6e9ed}.form-control.disabled,.form-control[disabled]{background-color:#e6e9ed;border-color:#e6e9ed}.input-group-btn .btn+.btn{border-color:#96a0ad;border-style:solid;
 border-width:1px}.input-group-btn .btn+.btn.btn-default{border-color:#ededed}.input-group-btn .btn+.btn.btn-primary{border-color:#269ecb}.input-group-btn .btn+.btn.btn-info{border-color:#2fa084}.input-group-btn .btn+.btn.btn-success{border-color:#7ab03f}.input-group-btn .btn+.btn.btn-warning{border-color:#f4af20}.input-group-btn .btn+.btn.btn-danger{border-color:#d1293a}.input-group-addon{color:#fff;background-color:#aab2bd;border-color:#96a0ad}.input-group-addon .checkbox,.input-group-addon .radio{margin:-3px 0 -4px!important}.form-search .search-query,.form-search .search-query:first-child,.form-search .search-query:last-child{padding:0 17px;border-radius:17px;-webkit-border-radius:17px;-moz-border-radius:17px}.input-group .form-control:last-child{border-top-left-radius:0;border-bottom-left-radius:0;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0}.input-group .form-control:first-child{border-top-right-radius:0;border-bottom-right-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0}.form-search .btn{border-radius:17px;-webkit-border-radius:17px;-moz-border-radius:17px}.search-only{position:relative}.search-only .search-icon{position:absolute;top:2px;left:8.5px;z-index:20;width:30px;font-size:17px;line-height:30px;color:#e6e9ed;text-align:center}.search-only .form-control:last-child{padding-left:40px}.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .radio,.has-success .radio-inline{color:#8cc152}.has-success .form-control,.has-success .form-control:focus{border-color:#8cc152;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.has-success .input-group-addon{background-color:#8cc152;border-color:#8cc152}.has-success .form-control-feedback{color:#8cc152}.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .radio,.has-warning .radio-inline{color:#f6bb42}.has-warning .form-control,.has-warning .form-control:focus{border-color:#f6bb42;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.has-warning .input-group-addon{background-color:#f6bb42;border-color:#f6bb42}.has-warning .form-control-feedback{color:#f6bb42}.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline{color:#da4453}.has-error .form-control,.has-error .form-control:focus{border-color:#da4453;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.has-error .input-group-addon{background-color:#da4453;border-color:#da4453}.has-error .form-control-feedback{color:#da4453}.stepper .stepper-input{overflow:hidden;-moz-appearance:textfield}.stepper .stepper-input::-webkit-inner-spin-button,.stepper .stepper-input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.stepper .stepper-arrow{position:absolute;right:15px;display:block;width:20px;height:50%;text-indent:-99999px;cursor:pointer;
 background-color:#3bafda}.stepper .stepper-arrow:active,.stepper .stepper-arrow:hover{background-color:#4fc1e9}.stepper .up{top:0;border:1px solid #269ecb;border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px}.stepper .down{bottom:0;border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px}.stepper .down::before,.stepper .up::before{position:absolute;width:0;height:0;
 content:"";border-right:4px solid transparent;border-left:4px solid transparent}.stepper .up::before{top:5px;left:5px;border-bottom:4px solid #fff}.stepper .down:before{bottom:5px;left:6px;border-top:4px solid #fff}.stepper.disabled .stepper-arrow{background-color:#3bafda;filter:alpha(opacity=45);opacity:.45}.selecter{position:relative;z-index:1;
 display:block;max-width:100%;outline:0}.selecter .selecter-element{position:absolute;left:0;z-index:0;display:none;width:100%;height:100%;filter:alpha(opacity=0);opacity:0;*left:-999999px}.selecter .selecter-element,.selecter .selecter-element:focus{outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}.selecter .selecter-selected{position:relative;z-index:2;display:block;padding:6px 10px;overflow:hidden;text-overflow:clip;cursor:pointer;
 background-color:#fff;border:1px solid #aab2bd;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}.selecter .selecter-selected:after{position:absolute;top:14px;right:10px;width:0;height:0;content:"";border-top:4px solid #000;border-right:4px solid transparent;border-left:4px solid transparent}.selecter .selecter-options{position:absolute;top:100%;left:0;z-index:50;display:none;width:100%;max-height:260px;overflow:auto;overflow-x:hidden;background-color:#fff;
 border:1px solid #aab2bd;border-width:0 1px 1px;border-radius:0 0 4px 4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);-moz-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;*width:auto}.selecter .selecter-group{display:block;padding:5px 10px 4px;font-size:11px;color:#aab2bd;text-transform:uppercase;background-color:#f5f7fa;
 border-bottom:1px solid #e6e9ed}.selecter .selecter-item{display:block;width:100%;padding:6px 10px;margin:0;overflow:hidden;text-overflow:ellipsis;cursor:pointer;
 background-color:#fff;border-bottom:1px solid #e6e9ed}.selecter .selecter-item.selected{color:#fff;background-color:#3bafda;border-bottom-color:#4fc1e9}.selecter .selecter-item.disabled{color:#aab2bd;cursor:default}.selecter .selecter-item:first-child{border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}.selecter .selecter-item:last-child{border-bottom:0;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}.selecter .selecter-item:hover{background-color:#e6e9ed}.selecter .selecter-item.selected:hover{background-color:#3bafda}.selecter .selecter-item.disabled:hover,.selecter.disabled .selecter-item:hover,.selecter:hover .selecter-selected{background-color:#fff}.selecter.open{z-index:3;outline:0}.selecter.open .selecter-selected{z-index:51;border:1px solid #3bafda;border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.selecter.focus .selecter-selected,.selecter.open .selecter-selected{background-color:#fff}.selecter.cover .selecter-options{top:0;border-width:1px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}.selecter.cover .selecter-options .selecter-item.first{border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.selecter.cover.open .selecter-selected{z-index:49;border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.selecter.bottom .selecter-options{top:auto;bottom:100%;
 border-width:1px 1px 0}.selecter.bottom .selecter-item:last-child{border:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}.selecter.bottom.open .selecter-selected{border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}.selecter.bottom.open .selecter-options{border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.selecter.bottom.cover .selecter-options{top:auto;bottom:0}.selecter.bottom.cover.open .selecter-options,.selecter.bottom.cover.open .selecter-selected{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}.selecter.multiple .selecter-options{position:static;display:block;width:100%;border-width:1px;border-radius:4px;box-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px}.selecter.disabled .selecter-selected{color:#aab2bd;cursor:default;background-color:#e6e9ed;border-color:#e6e9ed}.selecter.disabled .selecter-options{background-color:#e6e9ed;border-color:#e6e9ed}.selecter.disabled .selecter-group,.selecter.disabled .selecter-item{color:#aab2bd;cursor:default;background-color:#e6e9ed;border-color:#e6e9ed}.selecter.disabled .selecter-item.selected{color:#fff;background-color:#3bafda;filter:alpha(opacity=45);opacity:.45}.selecter .selecter-options.scroller{overflow:hidden}.selecter .selecter-options.scroller .scroller-content{max-height:260px;padding:0}.checkbox,.radio{padding-left:0;margin-top:0}.checkbox label,.radio label{position:relative;top:2px;padding-left:5px}.icheckbox_flat,.iradio_flat{display:inline-block;width:20px;height:20px;padding:0!important;margin:0;vertical-align:middle;cursor:pointer;background:url(../bootflat/img/check_flat/default.png) no-repeat;border:none;*display:inline}.icheckbox_flat{background-position:0 0}.icheckbox_flat.checked{background-position:-22px 0}.icheckbox_flat.disabled{cursor:default;background-position:-44px 0}.icheckbox_flat.checked.disabled{background-position:-66px 0}.iradio_flat{background-position:-88px 0}.iradio_flat.checked{background-position:-110px 0}.iradio_flat.disabled{cursor:default;background-position:-132px 0}.iradio_flat.checked.disabled{background-position:-154px 0}.toggle{height:32px}.toggle input[type=checkbox],.toggle input[type=radio]{width:0;height:0;padding:0;margin:0;text-indent:-100000px;filter:alpha(opacity=0);opacity:0}.toggle .handle{position:relative;top:-20px;left:0;
 display:block;width:50px;height:32px;background-color:#fff;border-radius:19px;-webkit-box-shadow:inset 0 0 0 1px #b8bfc8;-moz-box-shadow:inset 0 0 0 1px #b8bfc8;box-shadow:inset 0 0 0 1px #b8bfc8;-webkit-border-radius:19px;-moz-border-radius:19px}.toggle .handle:after,.toggle .handle:before{position:absolute;top:1px;left:1px;display:block;width:30px;height:30px;
 content:"";background-color:#fff;border-radius:30px;-webkit-box-shadow:inset 0 0 0 1px #b8bfc8,1px 1px 1px #c7ccd3;-moz-box-shadow:inset 0 0 0 1px #b8bfc8,1px 1px 1px #c7ccd3;box-shadow:inset 0 0 0 1px #b8bfc8,1px 1px 1px #c7ccd3;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out;-webkit-border-radius:30px;-moz-border-radius:30px}.toggle input[type=checkbox]:disabled+.handle,.toggle input[type=checkbox]:disabled+.handle:after,.toggle input[type=checkbox]:disabled+.handle:before,.toggle input[type=radio]:disabled+.handle,.toggle input[type=radio]:disabled+.handle:after,.toggle input[type=radio]:disabled+.handle:before{background-color:#e6e9ed;filter:alpha(opacity=60);
 opacity:.6}.toggle input[type=checkbox]:checked+.handle:before,.toggle input[type=radio]:checked+.handle:before{width:50px;background-color:#a0d468}.toggle input[type=checkbox]:checked+.handle:after,.toggle input[type=radio]:checked+.handle:after{left:20px;-webkit-box-shadow:inset 0 0 0 1px #f5f7fa,1px 1px 1px #c7ccd3;-moz-box-shadow:inset 0 0 0 1px #f5f7fa,1px 1px 1px #c7ccd3;box-shadow:inset 0 0 0 1px #f5f7fa,1px 1px 1px #c7ccd3}.calendar{padding:20px;color:#fff;background-color:#fd9883;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-border-radius:4px;-moz-border-radius:4px}.calendar .unit{float:left;width:14.28%;text-align:center}.calendar .years .prev{text-align:left}.calendar .years .next{text-align:right}.calendar .years .next em,.calendar .years .prev em{position:relative;display:inline-block;width:34px;height:34px;cursor:pointer;border:1px solid #fff;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%}.calendar .years .next em:before,.calendar .years .prev em:before{position:absolute;display:block;width:0;height:0;margin-top:6px;font-size:0;content:"";border-style:solid;border-width:7px}.calendar .years .prev em:before{top:3px;left:4px;border-color:transparent #fff transparent transparent}.calendar .years .next em:before{top:3px;left:13px;border-color:transparent transparent transparent #fff}.calendar .years .next em:active,.calendar .years .next em:hover,.calendar .years .prev em:active,.calendar .years .prev em:hover{border-color:#e9573f}.calendar .years .prev em:active:before,.calendar .years .prev em:hover:before{border-color:transparent #e9573f transparent transparent}.calendar .years .next em:active:before,.calendar .years .next em:hover:before{border-color:transparent transparent transparent #e9573f}.calendar .years .monyear{float:left;width:71.42%;height:34px;line-height:34px;text-align:center}.calendar .days{padding-top:15px;
 margin-top:15px;border-top:1px solid #ee7f6d}.calendar .days .unit{height:34px;
 margin-bottom:3px;line-height:34px;text-align:center}.calendar .days .unit b{width:34px;height:34px;font-weight:400;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%}.calendar .days .unit.active b,.calendar .days .unit:active b,.calendar .days .unit:hover b{display:inline-block;color:#e9573f;cursor:pointer;background-color:#fff;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.calendar .days .unit.older b{width:auto;height:auto;color:#e9573f;cursor:default;background-color:transparent}.pricing ul{padding:0;list-style:none}.pricing .unit{position:relative;display:inline-block;min-width:250px;text-align:center;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-border-radius:4px;-moz-border-radius:4px}.pricing .unit.active{top:5px;z-index:1;margin-right:-36px;margin-left:-36px;-webkit-box-shadow:0 0 8px rgba(0,0,0,.6);-moz-box-shadow:0 0 8px rgba(0,0,0,.6);box-shadow:0 0 8px rgba(0,0,0,.6)}.pricing .unit.active .price-title h3{font-size:40px}@media screen and (max-width:767px){.pricing .unit{display:block;margin-bottom:20px}.pricing .unit.active{top:0;margin-right:0;margin-left:0}.pricing .unit.active .price-title h3{font-size:30px}}.pricing .price-title{padding:20px 20px 10px;color:#fff;border-top-left-radius:4px;border-top-right-radius:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px}.pricing .price-title h3,.pricing .price-title h3>p{margin:0}.pricing .price-body{padding:20px 20px 10px}.pricing .price-body ul{padding-top:10px}.pricing .price-body li{margin-bottom:10px}.pricing .price-body h4{margin:0}.pricing .price-foot{padding:20px;background-color:#e6e9ed;border-bottom-right-radius:4px;border-bottom-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px}.pricing .price-primary .price-title{background-color:#4fc1e9}.pricing .price-primary .price-body{background-color:#d7f1fa}.pricing .price-primary .price-body ul{border-top:1px solid #aae1f4}.pricing .price-success .price-title{background-color:#a0d468}.pricing .price-success .price-body{background-color:#ebf6df}.pricing .price-success .price-body ul{border-top:1px solid #d2ebb7}.pricing .price-warning .price-title{background-color:#ffce54}.pricing .price-warning .price-body{background-color:#fffaed}.pricing .price-warning .price-body ul{border-top:1px solid #ffebba}.alert h4{margin-bottom:10px;font-weight:700}.alert-dismissable .close{color:#000}.alert-info{background-color:#7cd1ef;border:#4fc1e9}.alert-warning{background-color:#ffdd87;border:#ffce54}.alert-danger{background-color:#f2838f;border:#ed5565}.alert-success{background-color:#b9df90;border:#a0d468}.alert .alert-link{text-decoration:underline;
 cursor:pointer;filter:alpha(opacity=65);opacity:.65}.alert .alert-link:focus,.alert .alert-link:hover{filter:alpha(opacity=45);opacity:.45}.alert .btn-link,.alert .btn-link:focus,.alert .btn-link:hover{color:#000;filter:alpha(opacity=65);opacity:.65}.alert .btn-link:focus,.alert .btn-link:hover{text-decoration:none;filter:alpha(opacity=40);opacity:.4}.nav-tabs{background-color:#e6e9ed;
 border-bottom:none;border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.nav-tabs>li{margin-bottom:0;border-left:1px solid #ccd1d9}.nav-tabs>li:first-child{border-left:none}.nav-tabs>li>a{margin-right:0;color:#434a54;border:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}.nav-tabs>li:first-child>a{border-radius:4px 0 0;-webkit-border-radius:4px 0 0;-moz-border-radius:4px 0 0}.nav-tabs>li>a:focus,.nav-tabs>li>a:hover{background-color:#f5f7fa;border:none}.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background-color:#fff!important;border:none}.nav-tabs .dropdown-toggle,.nav-tabs .dropdown-toggle:focus,.nav-tabs .dropdown-toggle:hover{color:#434a54}.nav-tabs li.dropdown.open .dropdown-toggle{color:#434a54;background-color:#f5f7fa}.nav-tabs li.dropdown.active.open .dropdown-toggle{color:#434a54}.nav-tabs .dropdown-toggle .caret,.nav-tabs .dropdown-toggle:focus .caret,.nav-tabs .dropdown-toggle:hover .caret,.nav-tabs li.dropdown.active .dropdown-toggle .caret,.nav-tabs li.dropdown.active.open .dropdown-toggle .caret,.nav-tabs li.dropdown.open .caret,.nav-tabs li.dropdown.open a:focus .caret,.nav-tabs li.dropdown.open a:hover .caret,.nav-tabs li.dropdown.open.active .caret{border-top-color:#434a54;border-bottom-color:#434a54}.nav-tabs.nav-justified>li>a{margin-bottom:0;text-align:center}.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}.nav-tabs.nav-justified>li>a{border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}.nav-tabs.nav-justified>li:first-child>a{border-radius:4px 0 0;-webkit-border-radius:4px 0 0;-moz-border-radius:4px 0 0}.nav-tabs.nav-justified>li:last-child>a{border-radius:0 4px 0 0;-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border:none}@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-bottom:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border-bottom:none}}.tab-content{padding:10px}.tabs-below .nav-tabs{border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}.tabs-below .nav-tabs>li:first-child>a{border-radius:0 0 0 4px;-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px}.tabs-below .nav-tabs.nav-justified>li:last-child>a{border-radius:0 0 4px;-webkit-border-radius:0 0 4px;-moz-border-radius:0 0 4px}.tabs-left .nav-tabs>li,.tabs-right .nav-tabs>li{float:none;border-top:1px solid #ccd1d9;border-left:none}.tabs-left .nav-tabs>li:first-child,.tabs-right .nav-tabs>li:first-child{border-top:none}.tabs-left .nav-tabs>li>a,.tabs-right .nav-tabs>li>a{min-width:74px;margin-right:0}.tabs-left .nav-tabs{float:left;margin-right:19px;border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px}.tabs-left .nav-tabs>li:first-child>a{border-radius:4px 0 0;-webkit-border-radius:4px 0 0;-moz-border-radius:4px 0 0}.tabs-left .nav-tabs>li:last-child>a{border-radius:0 0 0 4px;-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px}.tabs-right .nav-tabs{float:right;margin-left:19px;border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0}.tabs-right .nav-tabs>li:first-child>a{border-radius:0 4px 0 0;-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0}.tabs-right .nav-tabs>li:last-child>a{border-radius:0 0 4px;-webkit-border-radius:0 0 4px;-moz-border-radius:0 0 4px}.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#3bafda}.nav-pills>li>a{color:#3bafda}.nav-pills>li>a:hover{color:#434a54;background-color:#e6e9ed}.nav-pills>.active>a>.badge{color:#3bafda}.nav-pills .open>a,.nav-pills .open>a:focus,.nav-pills .open>a:hover{color:#434a54;background-color:#e6e9ed}.navbar-form{padding:0!important}.navbar-default{background-color:#37bc9b;border-color:#37bc9b}.navbar-default .btn-link,.navbar-default .navbar-brand,.navbar-default .navbar-link{color:#26816a}.navbar-default .btn-link:focus,.navbar-default .btn-link:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover,.navbar-default .navbar-link:hover{color:#fff;background-color:transparent}.navbar-default .navbar-nav>li>a,.navbar-default .navbar-text{color:#26816a}.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#fff}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#fff;background-color:#48cfad}.navbar-default .btn-link[disabled]:focus,.navbar-default .btn-link[disabled]:hover,.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover,fieldset[disabled] .navbar-default .btn-link:focus,fieldset[disabled] .navbar-default .btn-link:hover{color:#2e9c81;background-color:transparent}.navbar-default .navbar-toggle{background-color:#26816a;border-color:#26816a}.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#2b957a;border-color:#2b957a}.navbar-default .navbar-toggle .icon-bar{background-color:#37bc9b}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#48cfad}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#fff;background-color:#37bc9b}@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>.divider,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{background-color:#48cfad}.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#26816a}.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:#48cfad}.navbar-default .navbar-nav .open .dropdown-menu>.dropdown-header{color:#26816a}.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#2b957a}}.navbar-inverse{background-color:#333;border-color:#333}.navbar-inverse .btn-link,.navbar-inverse .navbar-brand,.navbar-inverse .navbar-link{color:#8c8c8c}.navbar-inverse .btn-link:focus,.navbar-inverse .btn-link:hover,.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-link:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{color:#8c8c8c}.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color:#fff}.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:#000}.navbar-inverse .btn-link[disabled]:focus,.navbar-inverse .btn-link[disabled]:hover,.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover,fieldset[disabled] .navbar-inverse .btn-link:focus,fieldset[disabled] .navbar-inverse .btn-link:hover{color:#666;background-color:transparent}.navbar-inverse .navbar-toggle{background-color:#000;border-color:#000}.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#1a1a1a;border-color:#1a1a1a}.navbar-inverse .navbar-toggle .icon-bar{background-color:#8c8c8c}.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-color:#000}.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover{color:#fff;background-color:#000}@media (max-width:767px){.navbar-inverse .navbar-nav .open .dropdown-menu>.divider,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{background-color:#000}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#8c8c8c}.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:#000}.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{color:#bfbfbf}.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#666}}.list-group{border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-border-radius:4px;-moz-border-radius:4px}.list-group-item{border-color:transparent;border-top-color:#e6e9ed}.list-group-item:first-child{border-top:none}.list-group-item-heading,a.list-group-item{color:#434a54}a.list-group-item .list-group-item-heading{font-size:16px;color:#434a54}a.list-group-item:focus,a.list-group-item:hover{background-color:#e6e9ed}a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover{background-color:#4fc1e9;border-color:#4fc1e9}a.list-group-item.active .list-group-item-text,a.list-group-item.active:focus .list-group-item-text,a.list-group-item.active:hover .list-group-item-text{color:#fff}.list-group-item-primary{color:#22b1e3;background-color:#4fc1e9;border-color:#3bafda transparent transparent}.list-group-item-primary:first-child{border-color:transparent}a.list-group-item-primary{color:#126d8d}a.list-group-item-primary:focus,a.list-group-item-primary:hover{color:#fff}a.list-group-item-primary.active,a.list-group-item-primary:focus,a.list-group-item-primary:hover{background-color:#3bafda;border-color:#4fc1e9 transparent transparent}.list-group-item-success{color:#87c940;background-color:#a0d468;border-color:#8cc152 transparent transparent}.list-group-item-success:first-child{border-color:transparent}a.list-group-item-success{color:#537f24}a.list-group-item-success:focus,a.list-group-item-success:hover{color:#fff}a.list-group-item-success.active,a.list-group-item-success:focus,a.list-group-item-success:hover{background-color:#8cc152;border-color:#a0d468 transparent transparent}.list-group-item-warning{color:#ffbf21;background-color:#ffce54;border-color:#f6bb42 transparent transparent}.list-group-item-warning:first-child{border-color:transparent}a.list-group-item-warning{color:#876000}a.list-group-item-warning:focus,a.list-group-item-warning:hover{color:#fff}a.list-group-item-warning.active,a.list-group-item-warning:focus,a.list-group-item-warning:hover{background-color:#f6bb42;border-color:#ffce54 transparent transparent}.list-group-item-info{color:#2fb593;background-color:#48cfad;border-color:#37bc9b transparent transparent}.list-group-item-info:first-child{border-color:transparent}a.list-group-item-info{color:#1a6451}a.list-group-item-info:focus,a.list-group-item-info:hover{color:#fff}a.list-group-item-info.active,a.list-group-item-info:focus,a.list-group-item-info:hover{background-color:#37bc9b;border-color:#48cfad transparent transparent}.list-group-item-danger{color:#e8273b;background-color:#ed5565;border-color:#da4453 transparent transparent}.list-group-item-danger:first-child{border-color:transparent}a.list-group-item-danger{color:#99101f}a.list-group-item-danger:focus,a.list-group-item-danger:hover{color:#fff}a.list-group-item-danger.active,a.list-group-item-danger:focus,a.list-group-item-danger:hover{background-color:#da4453;border-color:#ed5565 transparent transparent}.media-list{color:#aab2bd}.media-heading{font-size:14px;color:#434a54}.modal-content{color:#434a54;
 border:none;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-border-radius:4px;-moz-border-radius:4px}.modal-header{border-bottom:none}.modal-body{padding:0 15px}.modal-footer{border-top:none}.well{padding:10px;color:#434a54;background-color:#fff;border:none;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-border-radius:4px;-moz-border-radius:4px}.well blockquote{border-color:#ccd1d9}.well-lg{padding:20px}.well-sm{padding:5px}.thumbnail{border:none;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}.thumbnail a>img,.thumbnail>img{width:100%}.thumbnail .caption{font-size:14px}.thumbnail .caption h1,.thumbnail .caption h2,.thumbnail .caption h3,.thumbnail .caption h4,.thumbnail .caption h5,.thumbnail .caption h6{margin:5px 0 10px;font-size:16px}.jumbotron{padding:0;
 margin-bottom:20px;background-color:#fff;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-border-radius:4px;-moz-border-radius:4px}.container .jumbotron{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}.jumbotron>.jumbotron-photo img{width:100%;border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.jumbotron .jumbotron-contents{padding:20px;color:#434a54}.jumbotron .carousel,.jumbotron .carousel-inner,.jumbotron .carousel-inner>.item.active img{border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.jumbotron .carousel-inner>.item>a>img,.jumbotron .carousel-inner>.item>img{width:100%}.jumbotron .carousel-control.left{border-radius:4px 0 0;-webkit-border-radius:4px 0 0;-moz-border-radius:4px 0 0}.jumbotron .carousel-control.right{border-radius:0 4px 0 0;-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0}.jumbotron .h1,.jumbotron .h2,.jumbotron h1,.jumbotron h2{font-weight:400}.jumbotron .h1,.jumbotron h1{font-size:28px}.jumbotron .h2,.jumbotron h2{font-size:24px}.jumbotron p{font-size:14px}@media screen and (min-width:768px){.container .jumbotron,.jumbotron{padding:0}.jumbotron .h1,.jumbotron h1{font-size:28px}}.panel{background-color:#fff;border:none;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-webkit-border-radius:4px;-moz-border-radius:4px}.panel .list-group{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.panel .list-group-item:first-child{border-top:1px solid #e6e9ed}.panel-heading{border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.panel-title{font-size:14px;font-weight:400;color:#434a54}.panel-footer{background-color:#e6e9ed;border-top-color:#e6e9ed;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}.panel-default{border-color:#e6e9ed}.panel-default>.panel-heading{color:#434a54;background-color:#e6e9ed;border-color:#e6e9ed}.panel-primary{border-color:#3bafda}.panel-primary>.panel-heading{color:#fff;background-color:#3bafda;border-color:#3bafda}.panel-success{border-color:#8cc152}.panel-success>.panel-heading{color:#fff;background-color:#8cc152;border-color:#8cc152}.panel-info{border-color:#37bc9b}.panel-info>.panel-heading{color:#fff;background-color:#37bc9b;border-color:#37bc9b}.panel-warning{border-color:#f6bb42}.panel-warning>.panel-heading{color:#fff;background-color:#f6bb42;border-color:#f6bb42}.panel-danger{border-color:#da4453}.panel-danger>.panel-heading{color:#fff;background-color:#da4453;border-color:#da4453}.panel-danger>.panel-heading>.panel-title,.panel-info>.panel-heading>.panel-title,.panel-primary>.panel-heading>.panel-title,.panel-success>.panel-heading>.panel-title,.panel-warning>.panel-heading>.panel-title{color:#fff}.panel>.list-group:first-child .list-group-item:first-child,.panel>.table-responsive:first-child>.table:first-child,.panel>.table:first-child{border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.panel>.list-group:last-child .list-group-item:last-child{border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child{border-radius:4px 0 0;-webkit-border-radius:4px 0 0;-moz-border-radius:4px 0 0}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child{border-radius:0 4px 0 0;-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0}.panel>.table-responsive:last-child>.table:last-child,.panel>.table:last-child{border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-radius:0 0 0 4px;-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-radius:0 0 4px;-webkit-border-radius:0 0 4px;-moz-border-radius:0 0 4px}.panel>.panel-body+.table,.panel>.panel-body+.table-responsive{border-top-color:#e6e9ed}.panel-group .panel{background-color:transparent;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0}.panel-group .panel+.panel{margin-top:0}.panel-group .panel-heading{padding:0;border-bottom-color:transparent}.panel-group .panel-heading+.panel-collapse .panel-body{padding:15px 0;border-top-color:transparent}.panel-group .panel-title a{display:block;padding:10px 0}.panel-group-lists .panel{background-color:#fff;
 border-bottom:1px solid #e6e9ed;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}.panel-group-lists .panel:first-child{border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.panel-group-lists .panel:last-child{border-bottom:none;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}.panel-group-lists .panel-heading+.panel-collapse .panel-body{padding:15px;border-top-color:#e6e9ed}.panel-group-lists .panel-title a{padding:10px 15px;color:#434a54}.panel-group-lists .panel-title a:active,.panel-group-lists .panel-title a:focus,.panel-group-lists .panel-title a:hover{color:#aab2bd}.footer{padding:40px 0;background-color:#434a54}.footer-logo,.footer-nav{float:left;width:20%;padding:0 20px}@media (max-width:768px){.footer-logo{margin-bottom:20px}.footer-logo,.footer-nav{display:block;
 float:none;width:100%}}.footer-logo{height:32px;
 margin-top:-5px;line-height:32px}.footer-logo img{margin-right:10px}.footer-logo a{font-size:20px;font-weight:700;color:#fff}.footer-logo a:active,.footer-logo a:hover{text-decoration:none}.footer-nav .nav-title{margin-bottom:15px;color:#e6e9ed}.footer-nav .nav-item{line-height:28px}.footer-nav .nav-item>a{color:#aab2bd}.footer-nav .nav-item>a:active,.footer-nav .nav-item>a:hover{color:#ccd1d9;text-decoration:none}.footer-copyright{color:#aab2bd}.timeline dl{position:relative;top:0;padding:20px 0;margin:0}.timeline dl:before{position:absolute;top:0;bottom:0;left:50%;z-index:100;width:2px;margin-left:-1px;content:'';background-color:#ccd1d9}.timeline dl dt{position:relative;top:30px;z-index:200;width:120px;padding:3px 5px;margin:0 auto 30px;font-weight:400;color:#fff;text-align:center;background-color:#aab2bd;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}.timeline dl dd{position:relative;z-index:200}.timeline dl dd .circ{position:absolute;top:40px;left:50%;z-index:200;width:22px;height:22px;margin-left:-11px;background-color:#4fc1e9;border:4px solid #f5f7fa;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%}.timeline dl dd .time{position:absolute;top:31px;left:50%;display:inline-block;width:100px;padding:10px 20px;color:#4fc1e9}.timeline dl dd .events{position:relative;width:47%;padding:10px 10px 0;margin-top:31px;background-color:#fff;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}.timeline dl dd .events:before{position:absolute;top:12px;width:0;height:0;content:'';border-style:solid;border-width:6px}.timeline dl dd .events .events-object{margin-right:10px}.timeline dl dd .events .events-body{overflow:hidden;zoom:1}.timeline dl dd .events .events-body .events-heading{margin:0 0 10px;font-size:14px}.timeline dl dd.pos-right .time{margin-left:-100px;text-align:right}.timeline dl dd.pos-right .events{float:right}.timeline dl dd.pos-right .events:before{left:-12px;border-color:transparent #fff transparent transparent}.timeline dl dd.pos-left .time{margin-left:0;text-align:left}.timeline dl dd.pos-left .events{float:left}.timeline dl dd.pos-left .events:before{right:-12px;border-color:transparent transparent transparent #fff}@media screen and (max-width:767px){.timeline dl:before{left:60px}.timeline dl dt{margin:0 0 30px}.timeline dl dd .circ{left:60px}.timeline dl dd .time{left:0}.timeline dl dd.pos-left .time{padding:10px 0;
 margin-left:0;text-align:left}.timeline dl dd.pos-left .events{float:right;width:84%}.timeline dl dd.pos-left .events:before{left:-12px;border-color:transparent #fff transparent transparent}.timeline dl dd.pos-right .time{padding:10px 0;
 margin-left:0;text-align:left}.timeline dl dd.pos-right .events{float:right;width:84%}}.dropdown-menu{background-color:#434a54;border:none}.dropdown-menu .dropdown-header{padding:5px 20px;font-size:14px;font-weight:700;color:#aab2bd}.dropdown-menu li a{padding:5px 20px;color:#fff}.dropdown-menu .active a,.dropdown-menu .active a:focus,.dropdown-menu .active a:hover,.dropdown-menu li a:focus,.dropdown-menu li a:hover{color:#fff;background-color:#656d78;outline:0}.dropdown-menu .disabled a,.dropdown-menu .disabled a:focus,.dropdown-menu .disabled a:hover{color:#656d78;cursor:default}.dropdown-menu .divider{background-color:#656d78;border-bottom:none}.dropup .dropdown-menu{margin-bottom:0;border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}.dropdown-submenu{position:relative}.dropdown-submenu .dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;border-radius:0 4px 4px;-webkit-border-radius:0 4px 4px;-moz-border-radius:0 4px 4px}.dropdown-submenu:hover .dropdown-menu{display:block}.dropup .dropdown-submenu .dropdown-menu{top:auto;bottom:0;margin-top:0;margin-bottom:-2px;border-radius:4px 4px 4px 0;-webkit-border-radius:4px 4px 4px 0;-moz-border-radius:4px 4px 4px 0}.dropdown-submenu>a:after{display:block;float:right;width:0;height:0;margin-top:5px;margin-right:-10px;content:" ";border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#fff}.dropdown-default .dropdown-submenu>a:after{border-left-color:#434a54}.dropdown-submenu:hover a:after{border-left-color:#fff}.dropdown-submenu.pull-left{float:none}.dropdown-submenu.pull-left .dropdown-menu{left:-100%;margin-left:10px;border-radius:4px 0 4px 4px;-webkit-border-radius:4px 0 4px 4px;-moz-border-radius:4px 0 4px 4px}

 body {
	padding: 0px;
	height:100%;
	width:100%;
	margin:0px;
	overflow-x:hidden;
	position:relative;
	index-z:10;
}

.navbar-xs{
	min-height:2px;
	height:2px;
}

.navbar-xs .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }

.navbar-custom {
  background-color: #008fbd;
  border-color: #00769c;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #00769c;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #00769c;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #00769c;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #007499;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #00769c;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #00769c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

.navbar-brand{
	background: url("logo.png") no-repeat left center;
	background-size: contain;
	height:50px;
	width:175px;
}

#login{
	width:40%;
	height:auto;
}

#login_box{
	padding:0;
}

.modal-dialog{
	position:relative;
	z-index: 2000;
}

.modal-open{
   overflow: hidden;
   position:fixed;
   width: 100%;
}

#signup_box{
	padding:0;
}

body{
	padding-top:70px;
}

.carousel-control.right{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}

.carousel-control.left{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}